<a href="https://colab.research.google.com/github/Madangowda1992/T05_089_Madangowda_Python/blob/main/Orderby_group_by.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

!wget -q https://dlcdn.apache.org/spark/spark-3.2.2/spark-3.2.2-bin-hadoop3.2.tgz 

!tar xf spark-3.2.2-bin-hadoop3.2.tgz

!pip install -q findspark

import os

os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

os.environ["SPARK_HOME"] = "/content/spark-3.2.2-bin-hadoop3.2"

import findspark

findspark.init()

findspark.find()

from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
from pyspark.sql import SparkSession
from pyspark.sql.types import IntegerType, DateType, StringType, StructType, StructField
from datetime import date, timedelta
import pyspark.sql.functions as F


spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

In [2]:
rdd=spark.sparkContext.textFile("/content/sample4.csv")

In [2]:
rdd.collect()

NameError: ignored

In [3]:
data=[[1,2,3,4,5],[10,20,30,40,50]]
rdd2=spark.sparkContext.parallelize(data)
rdd2.collect()

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50]]

In [4]:

rdd_map=rdd2.map(lambda x :x.append("madan"))

In [5]:
rdd2.collect()

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50]]

In [6]:
rdd_map.collect()

[None, None]

In [7]:
def demo(x):
  return x.split(" ")
rdd3=rdd2.map(demo)

In [63]:
input_data = [("James","Sales","NY",90000,34,10000), 
              ("Michael","Sales","NY",86000,56,20000), 
              ("Robert","Sales","CA",81000,30,23000), 
              ("Maria","Finance","CA",90000,24,23000), 
              ("Raman","Finance","CA",99000,40,24000), 
              ("Scott","Finance","NY",83000,36,19000), 
              ("Jen","Finance","NY",79000,53,15000), 
              ("Jeff","Marketing","CA",80000,25,18000), 
              ("Kumar","Marketing","NY",91000,50,21000) 
            ]
columns= ["employee_name","department","state","salary","age","bonus"]
df = spark.createDataFrame(data = input_data, schema = columns)
df.printSchema()
df.show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Raman        |Finance   |CA   |99000 |40 |24000|
|Scott        |Finance   |NY   |83000 |36 |19000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
+-------------+----------+-----+------+---+-----+

In [64]:
df.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [67]:
df.sort('department').show(truncate=False)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|Maria        |Finance   |CA   |90000 |24 |23000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Scott        |Finance   |NY   |83000 |36 |19000|
|Raman        |Finance   |CA   |99000 |40 |24000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
|James        |Sales     |NY   |90000 |34 |10000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Michael      |Sales     |NY   |86000 |56 |20000|
+-------------+----------+-----+------+---+-----+

In [5]:
df.sort('department','salary').show(truncate=False)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|Jen          |Finance   |NY   |79000 |53 |15000|
|Scott        |Finance   |NY   |83000 |36 |19000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Raman        |Finance   |CA   |99000 |40 |24000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|James        |Sales     |NY   |90000 |34 |10000|
+-------------+----------+-----+------+---+-----+

In [6]:
df.sort('age','bonus').show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        Maria|   Finance|   CA| 90000| 24|23000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        James|     Sales|   NY| 90000| 34|10000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|      Michael|     Sales|   NY| 86000| 56|20000|
+-------------+----------+-----+------+---+-----+

In [7]:
from pyspark.sql.functions import col
df.sort(col('salary'),col('age')).show(truncate=False)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Scott        |Finance   |NY   |83000 |36 |19000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|James        |Sales     |NY   |90000 |34 |10000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
|Raman        |Finance   |CA   |99000 |40 |24000|
+-------------+----------+-----+------+---+-----+

In [8]:
df.sort(col('bonus'),col('state')).show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
+-------------+----------+-----+------+---+-----+

In [9]:
df.orderBy(col('department').asc()).show(truncate=False)
df.orderBy(col('state').desc(),col('department').desc()).show()
df.sort(df.department.asc(),df.salary.desc()).show(truncate=False)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|Raman        |Finance   |CA   |99000 |40 |24000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Scott        |Finance   |NY   |83000 |36 |19000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
+-------------+----------+-----+------+---+-----+

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
+-------------+----------+-----+------+---+-----+

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|Raman        |Finance   |CA   |99000 |40 |24000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Scott        |Finance   |NY   |83000 |36 |19000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
+-------------+----------+-----+------+---+-----+

In [10]:
df1=df.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [11]:
df2=df.select('department')
df2.show()

+----------+
|department|
+----------+
|     Sales|
|     Sales|
|     Sales|
|   Finance|
|   Finance|
|   Finance|
|   Finance|
| Marketing|
| Marketing|
+----------+

In [12]:
df2.filter(df2.department.endswith('g')).show()

+----------+
|department|
+----------+
| Marketing|
| Marketing|
+----------+

In [14]:
df.orderBy(df.department.desc(),df.salary.desc()).show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
+-------------+----------+-----+------+---+-----+

In [20]:
df.groupBy('department').sum('salary').show(truncate=False)

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|Sales     |257000     |
|Finance   |351000     |
|Marketing |171000     |
+----------+-----------+

In [ ]:
df.groupBy('state').sum('salary').show()
df.groupBy('department').min('salary').show()
df.groupBy('department').max('salary').show()

In [26]:
df.groupBy('bonus').max('salary').show()

+-----+-----------+
|bonus|max(salary)|
+-----+-----------+
|10000|      90000|
|23000|      90000|
|20000|      86000|
|21000|      91000|
|18000|      80000|
|19000|      83000|
|24000|      99000|
|15000|      79000|
+-----+-----------+

In [32]:
df.groupBy('department').count().show()

+----------+-----+
|department|count|
+----------+-----+
|     Sales|    3|
|   Finance|    4|
| Marketing|    2|
+----------+-----+

In [35]:
df.groupBy('state').count().show()

+-----+-----+
|state|count|
+-----+-----+
|   CA|    4|
|   NY|    5|
+-----+-----+

In [41]:
df.groupBy('department').count().show()

+----------+-----+
|department|count|
+----------+-----+
|     Sales|    3|
|   Finance|    4|
| Marketing|    2|
+----------+-----+

In [45]:
df.groupBy('state').count().show()

+-----+-----+
|state|count|
+-----+-----+
|   CA|    4|
|   NY|    5|
+-----+-----+

In [48]:
df.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [53]:
df.groupBy('state').avg('salary').show()

+-----+-----------+
|state|avg(salary)|
+-----+-----------+
|   CA|    87500.0|
|   NY|    85800.0|
+-----+-----------+

In [57]:
df.groupBy('department').avg('age').show()

+----------+--------+
|department|avg(age)|
+----------+--------+
|     Sales|    40.0|
|   Finance|   38.25|
| Marketing|    37.5|
+----------+--------+

In [70]:
df.groupBy('state').count().show()

+-----+-----+
|state|count|
+-----+-----+
|   CA|    4|
|   NY|    5|
+-----+-----+

In [77]:
df.groupBy('state').sum('salary','age').show(truncate=False)
df.groupBy('department').sum('salary','age').show()
df.groupBy('state','department').sum('salary','age').show()

+-----+-----------+--------+
|state|sum(salary)|sum(age)|
+-----+-----------+--------+
|CA   |350000     |119     |
|NY   |429000     |229     |
+-----+-----------+--------+

+----------+-----------+--------+
|department|sum(salary)|sum(age)|
+----------+-----------+--------+
|     Sales|     257000|     120|
|   Finance|     351000|     153|
| Marketing|     171000|      75|
+----------+-----------+--------+

+-----+----------+-----------+--------+
|state|department|sum(salary)|sum(age)|
+-----+----------+-----------+--------+
|   CA|     Sales|      81000|      30|
|   NY|     Sales|     176000|      90|
|   CA|   Finance|     189000|      64|
|   CA| Marketing|      80000|      25|
|   NY|   Finance|     162000|      89|
|   NY| Marketing|      91000|      50|
+-----+----------+-----------+--------+

In [81]:
df.groupBy("department").sum("salary").show()

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|     Sales|     257000|
|   Finance|     351000|
| Marketing|     171000|
+----------+-----------+

In [91]:
import pyspark.sql.functions

In [93]:
df.groupBy("department").count().show()

+----------+-----+
|department|count|
+----------+-----+
|     Sales|    3|
|   Finance|    4|
| Marketing|    2|
+----------+-----+