<a href="https://colab.research.google.com/github/Madangowda1992/T05_089_Madangowda_Python/blob/pyspark_worksheet1/RDD_DF_transformation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

!wget -q https://dlcdn.apache.org/spark/spark-3.2.2/spark-3.2.2-bin-hadoop3.2.tgz 

!tar xf spark-3.2.2-bin-hadoop3.2.tgz

!pip install -q findspark

import os

os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

os.environ["SPARK_HOME"] = "/content/spark-3.2.2-bin-hadoop3.2"

import findspark

findspark.init()

findspark.find()

from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
from pyspark.sql import SparkSession
from pyspark.sql.types import IntegerType, DateType, StringType, StructType, StructField
from datetime import date, timedelta
import pyspark.sql.functions as F
from pyspark import SparkContext
sc =SparkContext.getOrCreate()
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

In [7]:
data =("Project",
  "Gutenberg’s",
  "Alice’s",
  "Adventures",
  "in",
  "Wonderland",
  "Project",
  "Gutenberg’s",
  "Adventures",
  "in",
  "Wonderland",
  "Project",
  "Gutenberg’s")

#rdd creation using parallelize()method:
rdd=spark.sparkContext.parallelize(data)

In [8]:
rdd.collect()

['Project',
 'Gutenberg’s',
 'Alice’s',
 'Adventures',
 'in',
 'Wonderland',
 'Project',
 'Gutenberg’s',
 'Adventures',
 'in',
 'Wonderland',
 'Project',
 'Gutenberg’s']

In [11]:
data=[]
count=0
data=rdd.collect()
for i in data:
  
  count+=1
  print(count,':',i)

1 : Project
2 : Gutenberg’s
3 : Alice’s
4 : Adventures
5 : in
6 : Wonderland
7 : Project
8 : Gutenberg’s
9 : Adventures
10 : in
11 : Wonderland
12 : Project
13 : Gutenberg’s

In [12]:

rdd2=rdd.map(lambda x: (x,0))
for element in rdd2.collect():
    print(element)

('Project', 0)
('Gutenberg’s', 0)
('Alice’s', 0)
('Adventures', 0)
('in', 0)
('Wonderland', 0)
('Project', 0)
('Gutenberg’s', 0)
('Adventures', 0)
('in', 0)
('Wonderland', 0)
('Project', 0)
('Gutenberg’s', 0)

In [13]:
#map() with Dataframe example:
#No map in dataframe to use lamda() function.we have to convert it into RDD First.
data = [('James','Smith','M',30),
        ('Anna','Rose','F',31),
        ('Robert','Williams','M',32), 
       ]

columns = ["firstname","lastname","gender","age"]
df = spark.createDataFrame(data=data, schema = columns)
df.show()

+---------+--------+------+---+
|firstname|lastname|gender|age|
+---------+--------+------+---+
|    James|   Smith|     M| 30|
|     Anna|    Rose|     F| 31|
|   Robert|Williams|     M| 32|
+---------+--------+------+---+

In [14]:
rdd2=df.rdd.map(lambda x :(x[0]+','+x[1],x[2],x[3])
                          )
rdd2.collect()
df2=rdd2.toDF(['Name','Gender','Age'])
df2.show()

+---------------+------+---+
|           Name|Gender|Age|
+---------------+------+---+
|    James,Smith|     M| 30|
|      Anna,Rose|     F| 31|
|Robert,Williams|     M| 32|
+---------------+------+---+

In [17]:
#Using column name as a reference
rdd3=df.rdd.map(lambda x:x['firstname'])
rdd3.collect()

['James', 'Anna', 'Robert']