<a href="https://colab.research.google.com/github/Madangowda1992/T05_089_Madangowda_Python/blob/pyspark_worksheet1/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

!wget -q https://dlcdn.apache.org/spark/spark-3.2.2/spark-3.2.2-bin-hadoop3.2.tgz 

!tar xf spark-3.2.2-bin-hadoop3.2.tgz

!pip install -q findspark

import os

os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

os.environ["SPARK_HOME"] = "/content/spark-3.2.2-bin-hadoop3.2"

import findspark

findspark.init()

findspark.find()

from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
from pyspark.sql import SparkSession
from pyspark.sql.types import IntegerType, DateType, StringType, StructType, StructField
from datetime import date, timedelta
import pyspark.sql.functions as F


spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

In [ ]:
df = spark.read.format('csv').option('header',True).load('/content/sample_data/california_housing_test.csv')

In [ ]:
df.printSchema()

root
 |-- longitude: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- housing_median_age: string (nullable = true)
 |-- total_rooms: string (nullable = true)
 |-- total_bedrooms: string (nullable = true)
 |-- population: string (nullable = true)
 |-- households: string (nullable = true)
 |-- median_income: string (nullable = true)
 |-- median_house_value: string (nullable = true)

In [ ]:
df.show(5)

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000|606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000|277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000|495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000| 11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000|237.000000|     2.937500|      81700.000000|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
only showing top 5 rows

In [ ]:
df_new = df.repartition(2, 'longitude')
# df.rdd.getNumPartitions()

In [ ]:
df_new.rdd.getNumPartitions()

2

In [ ]:
df_new.write.format('csv').mode('overwrite').save('partitioned_folder')

In [ ]:
df_part1=spark.read.format('csv').option('header',True).load('/content/partitioned_folder/part-00000-2179e724-0c59-4412-b2ba-e9c4e4d17cf8-c000.csv')
df_part1.show()

+-----------+---------+---------+------------+-----------+-----------+-----------+--------+-------------+
|-122.050000|37.370000|27.000000| 3885.000000| 661.000000|1537.000000| 606.000000|6.608500|344700.000000|
+-----------+---------+---------+------------+-----------+-----------+-----------+--------+-------------+
|-117.810000|33.780000|27.000000| 3589.000000| 507.000000|1484.000000| 495.000000|5.793400|270500.000000|
|-120.650000|35.480000|19.000000| 2310.000000| 471.000000|1341.000000| 441.000000|3.225000|166900.000000|
|-118.020000|34.080000|31.000000| 2402.000000| 632.000000|2830.000000| 603.000000|2.333300|164200.000000|
|-118.240000|33.980000|45.000000|  972.000000| 249.000000|1288.000000| 261.000000|2.205400|125000.000000|
|-119.120000|35.850000|37.000000|  736.000000| 166.000000| 564.000000| 138.000000|2.416700| 58300.000000|
|-117.030000|32.970000|16.000000| 3936.000000| 694.000000|1935.000000| 659.000000|4.562500|231200.000000|
|-117.970000|33.730000|27.000000| 2097.000000| 325.000000|1217.000000| 331.000000|5.712100|222500.000000|
|-117.990000|33.810000|42.000000|  161.000000|  40.000000| 157.000000|  50.000000|2.200000|153100.000000|
|-120.810000|37.530000|15.000000|  570.000000| 123.000000| 189.000000| 107.000000|1.875000|181300.000000|
|-121.200000|38.690000|26.000000| 3077.000000| 607.000000|1603.000000| 595.000000|2.717400|137500.000000|
|-121.370000|38.680000|36.000000| 1775.000000| 296.000000| 937.000000| 305.000000|3.178600| 83400.000000|
|-118.160000|34.070000|47.000000| 2994.000000| 543.000000|1651.000000| 561.000000|3.864400|241500.000000|
|-122.200000|37.790000|45.000000| 2021.000000| 528.000000|1410.000000| 480.000000|2.778800|115400.000000|
|-117.280000|33.280000|13.000000| 6131.000000|1040.000000|4049.000000| 940.000000|3.815600|150700.000000|
|-122.420000|37.760000|52.000000| 3587.000000|1030.000000|2259.000000| 979.000000|2.540300|250000.000000|
|-118.480000|34.010000|30.000000| 3078.000000| 954.000000|1561.000000| 901.000000|3.485200|425000.000000|
|-121.130000|39.310000|17.000000| 3442.000000| 705.000000|1693.000000| 619.000000|2.810200|128900.000000|
|-118.080000|34.550000| 5.000000|16181.000000|2971.000000|8152.000000|2651.000000|4.523700|141800.000000|
|-118.320000|33.940000|38.000000| 1067.000000| 170.000000| 499.000000| 169.000000|4.638900|183800.000000|
|-118.020000|33.920000|34.000000| 1478.000000| 251.000000| 956.000000| 277.000000|5.523800|185300.000000|
+-----------+---------+---------+------------+-----------+-----------+-----------+--------+-------------+
only showing top 20 rows

In [ ]:
df_part2=spark.read.format('csv').option('header',True).load('/content/partitioned_folder/part-00001-2179e724-0c59-4412-b2ba-e9c4e4d17cf8-c000.csv')
df_part2.show()
df_part2.printSchema()

AnalysisException: ignored

In [ ]:
df_day1=spark.read.text("/content/sample4.csv")
df_day1.show(10)

+--------------------+
|               value|
+--------------------+
|"Game Number", "G...|
|               1, 30|
|               2, 29|
|               3, 31|
|               4, 16|
|               5, 24|
|               6, 29|
|               7, 28|
|              8, 117|
|               9, 42|
+--------------------+
only showing top 10 rows

In [ ]:
df_day1=spark.read.csv("/content/sample4.csv",header=True) #using read.csv//
df_day1.show(5)

+-----------+--------------+
|Game Number| "Game Length"|
+-----------+--------------+
|          1|            30|
|          2|            29|
|          3|            31|
|          4|            16|
|          5|            24|
+-----------+--------------+
only showing top 5 rows

In [ ]:
df_demo=spark.read.format("csv").option('header',True).load("/content/sample4.csv")
df_demo.show(10)

+-----------+--------------+
|Game Number| "Game Length"|
+-----------+--------------+
|          1|            30|
|          2|            29|
|          3|            31|
|          4|            16|
|          5|            24|
|          6|            29|
|          7|            28|
|          8|           117|
|          9|            42|
|         10|            23|
+-----------+--------------+
only showing top 10 rows

In [ ]:
#df_day1.write.csv('Data/write_demo') #using write.csv()
#df_day1.write.format("csv").save("RESULT") #USING WRITE.FORMAT().SAVE() METHOD

In [ ]:
#df_demo.write.option('header',True).csv("header_demo/file/myfile.csv") #using df.write.option.csv(), we have to specify the header within options

In [ ]:
#df_day1.write.option("header",True).option("delimiter","|").csv("file/myfile2.csv") # using option separately

In [ ]:
#df_day1.write.option("header",True).option("delimiter","-->").csv("file/myfile3.csv") # using option separately

In [ ]:
#df_day1.write.options(Map("header" -> "true","delimiter" -> ",")).csv("file/myfile4.csv")

In [ ]:
df_day1.write.option("header",True).option("delimiter",",").option("compression","gzip").csv("demo_files/file1.csv") #converts it into zip and then saves