<a href="https://colab.research.google.com/github/Madangowda1992/T05_089_Madangowda_Python/blob/pyspark_worksheet1/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

!wget -q https://dlcdn.apache.org/spark/spark-3.2.2/spark-3.2.2-bin-hadoop3.2.tgz 

!tar xf spark-3.2.2-bin-hadoop3.2.tgz

!pip install -q findspark

import os

os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

os.environ["SPARK_HOME"] = "/content/spark-3.2.2-bin-hadoop3.2"

import findspark

findspark.init()

findspark.find()

from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
from pyspark.sql import SparkSession
from pyspark.sql.types import IntegerType, DateType, StringType, StructType, StructField
from datetime import date, timedelta
import pyspark.sql.functions as F


spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

In [ ]:
data=[  ["1", "Amit", "DU"],
        ["2", "Mohit", "DU"],
        ["3", "rohith", "BHU"],
        ["4", "sridevi", "LPU"],
        ["1", "sravan", "KLMP"],
        ["5", "gnanesh", "IIT"]
    ]
coloumn=['emp_id','emp_name','emp_city']
df=spark.createDataFrame(data,coloumn)
df.show()

+------+--------+--------+
|emp_id|emp_name|emp_city|
+------+--------+--------+
|     1|    Amit|      DU|
|     2|   Mohit|      DU|
|     3|  rohith|     BHU|
|     4| sridevi|     LPU|
|     1|  sravan|    KLMP|
|     5| gnanesh|     IIT|
+------+--------+--------+

In [ ]:
df.filter(df.emp_name=='Amit').show() #//filter using single condition

+------+--------+--------+
|emp_id|emp_name|emp_city|
+------+--------+--------+
|     1|    Amit|      DU|
+------+--------+--------+

In [ ]:
df.filter((df.emp_id=='5') & (df.emp_name=='Amit')).show()

+------+--------+--------+
|emp_id|emp_name|emp_city|
+------+--------+--------+
+------+--------+--------+

In [ ]:
from pyspark.sql.functions import col
df.filter(col('emp_name')=='Amit').show()

+------+--------+--------+
|emp_id|emp_name|emp_city|
+------+--------+--------+
|     1|    Amit|      DU|
+------+--------+--------+

In [ ]:
df.filter(col("emp_id")==1).show()
df.filter(col("emp_city")=="DU").show()

+------+--------+--------+
|emp_id|emp_name|emp_city|
+------+--------+--------+
|     1|    Amit|      DU|
|     1|  sravan|    KLMP|
+------+--------+--------+

+------+--------+--------+
|emp_id|emp_name|emp_city|
+------+--------+--------+
|     1|    Amit|      DU|
|     2|   Mohit|      DU|
+------+--------+--------+

In [ ]:
df.filter ((col("emp_name") =='sravan') & (col("emp_id")=='2')).show()

+------+--------+--------+
|emp_id|emp_name|emp_city|
+------+--------+--------+
+------+--------+--------+

In [ ]:
list=[1,2,3]
df.filter(df.emp_id.isin(list)).show()

+------+--------+--------+
|emp_id|emp_name|emp_city|
+------+--------+--------+
|     1|    Amit|      DU|
|     2|   Mohit|      DU|
|     3|  rohith|     BHU|
|     1|  sravan|    KLMP|
+------+--------+--------+

In [ ]:
list=['Amit','Mohit']
df.filter(df.emp_name.isin(list)).show()

+------+--------+--------+
|emp_id|emp_name|emp_city|
+------+--------+--------+
|     1|    Amit|      DU|
|     2|   Mohit|      DU|
+------+--------+--------+

In [ ]:
df.filter(df.emp_name.startswith("s")).show()

+------+--------+--------+
|emp_id|emp_name|emp_city|
+------+--------+--------+
|     4| sridevi|     LPU|
|     1|  sravan|    KLMP|
+------+--------+--------+

In [ ]:
df.filter((df.emp_name.endswith("t")) & (df.emp_city.endswith("U"))).show()

+------+--------+--------+
|emp_id|emp_name|emp_city|
+------+--------+--------+
|     1|    Amit|      DU|
|     2|   Mohit|      DU|
+------+--------+--------+

In [ ]:
df.filter(df.emp_name.endswith("it")).show()

+------+--------+--------+
|emp_id|emp_name|emp_city|
+------+--------+--------+
|     1|    Amit|      DU|
|     2|   Mohit|      DU|
+------+--------+--------+

In [ ]:
df.select("emp_name").show() #shows only emp_name coloumn

+--------+
|emp_name|
+--------+
|    Amit|
|   Mohit|
|  rohith|
| sridevi|
|  sravan|
| gnanesh|
+--------+

In [ ]:
df.select("emp_city").show()

+--------+
|emp_city|
+--------+
|      DU|
|      DU|
|     BHU|
|     LPU|
|    KLMP|
|     IIT|
+--------+

In [ ]:
df.select(df.emp_name,df.emp_city).show() #selects two coloumns with df.coloumn name

+--------+--------+
|emp_name|emp_city|
+--------+--------+
|    Amit|      DU|
|   Mohit|      DU|
|  rohith|     BHU|
| sridevi|     LPU|
|  sravan|    KLMP|
| gnanesh|     IIT|
+--------+--------+

In [ ]:
df.select(df["emp_name"],df["emp_city"]).show()

+--------+--------+
|emp_name|emp_city|
+--------+--------+
|    Amit|      DU|
|   Mohit|      DU|
|  rohith|     BHU|
| sridevi|     LPU|
|  sravan|    KLMP|
| gnanesh|     IIT|
+--------+--------+

In [ ]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType

In [ ]:
df.select(df.columns[1]).show()
df.show()

+--------+
|emp_name|
+--------+
|    Amit|
|   Mohit|
|  rohith|
| sridevi|
|  sravan|
| gnanesh|
+--------+

+------+--------+--------+
|emp_id|emp_name|emp_city|
+------+--------+--------+
|     1|    Amit|      DU|
|     2|   Mohit|      DU|
|     3|  rohith|     BHU|
|     4| sridevi|     LPU|
|     1|  sravan|    KLMP|
|     5| gnanesh|     IIT|
+------+--------+--------+

In [ ]:
df.select(df.columns[:2]).show()

+------+--------+
|emp_id|emp_name|
+------+--------+
|     1|    Amit|
|     2|   Mohit|
|     3|  rohith|
|     4| sridevi|
|     1|  sravan|
|     5| gnanesh|
+------+--------+

In [ ]:
df.select(df.columns[0:2])

DataFrame[emp_id: string, emp_name: string]

In [ ]:
df.select(df.columns[1:2]).show()

+--------+
|emp_name|
+--------+
|    Amit|
|   Mohit|
|  rohith|
| sridevi|
|  sravan|
| gnanesh|
+--------+

In [ ]:
df.printSchema()

root
 |-- emp_id: string (nullable = true)
 |-- emp_name: string (nullable = true)
 |-- emp_city: string (nullable = true)

In [ ]:
df.select('emp_name').show()
df.select('emp_name','emp_city').show()

+--------+
|emp_name|
+--------+
|    Amit|
|   Mohit|
|  rohith|
| sridevi|
|  sravan|
| gnanesh|
+--------+

+--------+--------+
|emp_name|emp_city|
+--------+--------+
|    Amit|      DU|
|   Mohit|      DU|
|  rohith|     BHU|
| sridevi|     LPU|
|  sravan|    KLMP|
| gnanesh|     IIT|
+--------+--------+

In [ ]:
df.select(df.columns[0:2]).show()

+------+--------+
|emp_id|emp_name|
+------+--------+
|     1|    Amit|
|     2|   Mohit|
|     3|  rohith|
|     4| sridevi|
|     1|  sravan|
|     5| gnanesh|
+------+--------+

In [ ]:
df.select(df.emp_name,df.emp_city).show()

+--------+--------+
|emp_name|emp_city|
+--------+--------+
|    Amit|      DU|
|   Mohit|      DU|
|  rohith|     BHU|
| sridevi|     LPU|
|  sravan|    KLMP|
| gnanesh|     IIT|
+--------+--------+

In [ ]:
    data = [
              (("Pulkit", "Dhingra"), 12, "CS32", 82, "Programming"),
              (("Ritika", "Pandey"), 20, "CS32", 94, "Writing"),
              (("Atirikt", "Sans"), 4, "BB21", 78, None),
              (("Reshav", None), 18, None, 56, None),
              (("madan","gowda"),30,"4ni13",90,"python")
            ]

In [ ]:
    schema = StructType([
            StructField('name', StructType([
            StructField('firstname', StringType(), True),
            StructField('lastname', StringType(), True)
                    ])),
            StructField("Roll Number", IntegerType(), True),
            StructField("Class ID", StringType(), True),
            StructField("Marks", IntegerType(), True),
            StructField("Extracurricular", StringType(), True)
                    ])

In [ ]:
df1=spark.createDataFrame(data=data,schema=schema)

In [ ]:
df1.printSchema()

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- Roll Number: integer (nullable = true)
 |-- Class ID: string (nullable = true)
 |-- Marks: integer (nullable = true)
 |-- Extracurricular: string (nullable = true)

In [ ]:
df1.show()

+-----------------+-----------+--------+-----+---------------+
|             name|Roll Number|Class ID|Marks|Extracurricular|
+-----------------+-----------+--------+-----+---------------+
|{Pulkit, Dhingra}|         12|    CS32|   82|    Programming|
| {Ritika, Pandey}|         20|    CS32|   94|        Writing|
|  {Atirikt, Sans}|          4|    BB21|   78|           null|
|   {Reshav, null}|         18|    null|   56|           null|
|   {madan, gowda}|         30|   4ni13|   90|         python|
+-----------------+-----------+--------+-----+---------------+

In [ ]:
df1.select("name.firstname","name.lastname").show(truncate=False)

+---------+--------+
|firstname|lastname|
+---------+--------+
|Pulkit   |Dhingra |
|Ritika   |Pandey  |
|Atirikt  |Sans    |
|Reshav   |null    |
|madan    |gowda   |
+---------+--------+

In [ ]:
df1.select("name.firstname","name.lastname").show(truncate=True)

+---------+--------+
|firstname|lastname|
+---------+--------+
|   Pulkit| Dhingra|
|   Ritika|  Pandey|
|  Atirikt|    Sans|
|   Reshav|    null|
|    madan|   gowda|
+---------+--------+

In [ ]:
df1.show()

+-----------------+-----------+--------+-----+---------------+
|             name|Roll Number|Class ID|Marks|Extracurricular|
+-----------------+-----------+--------+-----+---------------+
|{Pulkit, Dhingra}|         12|    CS32|   82|    Programming|
| {Ritika, Pandey}|         20|    CS32|   94|        Writing|
|  {Atirikt, Sans}|          4|    BB21|   78|           null|
|   {Reshav, null}|         18|    null|   56|           null|
|   {madan, gowda}|         30|   4ni13|   90|         python|
+-----------------+-----------+--------+-----+---------------+

In [ ]:
df1.select("name.firstname","name.lastname").show()

+---------+--------+
|firstname|lastname|
+---------+--------+
|   Pulkit| Dhingra|
|   Ritika|  Pandey|
|  Atirikt|    Sans|
|   Reshav|    null|
|    madan|   gowda|
+---------+--------+

In [ ]:
df1.select("name").show()

+-----------------+
|             name|
+-----------------+
|{Pulkit, Dhingra}|
| {Ritika, Pandey}|
|  {Atirikt, Sans}|
|   {Reshav, null}|
|   {madan, gowda}|
+-----------------+

In [ ]:
df1.select(df1.columns[0:2]).show()

+-----------------+-----------+
|             name|Roll Number|
+-----------------+-----------+
|{Pulkit, Dhingra}|         12|
| {Ritika, Pandey}|         20|
|  {Atirikt, Sans}|          4|
|   {Reshav, null}|         18|
|   {madan, gowda}|         30|
+-----------------+-----------+

In [ ]:
df1.select(df1.columns[:2]).show()

+-----------------+-----------+
|             name|Roll Number|
+-----------------+-----------+
|{Pulkit, Dhingra}|         12|
| {Ritika, Pandey}|         20|
|  {Atirikt, Sans}|          4|
|   {Reshav, null}|         18|
|   {madan, gowda}|         30|
+-----------------+-----------+

In [ ]:
df1.printSchema()
df1.where("name.firstname=='madan'").show()

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- Roll Number: integer (nullable = true)
 |-- Class ID: string (nullable = true)
 |-- Marks: integer (nullable = true)
 |-- Extracurricular: string (nullable = true)

+--------------+-----------+--------+-----+---------------+
|          name|Roll Number|Class ID|Marks|Extracurricular|
+--------------+-----------+--------+-----+---------------+
|{madan, gowda}|         30|   4ni13|   90|         python|
+--------------+-----------+--------+-----+---------------+

In [ ]:
df_data=df1.cache()
df_data.show()

+-----------------+-----------+--------+-----+---------------+
|             name|Roll Number|Class ID|Marks|Extracurricular|
+-----------------+-----------+--------+-----+---------------+
|{Pulkit, Dhingra}|         12|    CS32|   82|    Programming|
| {Ritika, Pandey}|         20|    CS32|   94|        Writing|
|  {Atirikt, Sans}|          4|    BB21|   78|           null|
|   {Reshav, null}|         18|    null|   56|           null|
|   {madan, gowda}|         30|   4ni13|   90|         python|
+-----------------+-----------+--------+-----+---------------+

In [ ]:
df_demo=spark.read.format("csv").load("/content/part-00000",header=True).show(truncate=False)

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------+------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|IsArrDelayed|IsDepDelayed|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------+------------+
|1987|10   |14        |3        |741    |730       |912    |849       |PS           |1451     |NA     |91               |79            |NA     |23      |11      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |15        |4        |729    |730       |903    |849       |PS           |1451     |NA     |94               |79            |NA     |14      |-1      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |NO          |
|1987|10   |17        |6        |741    |730       |918    |849       |PS           |1451     |NA     |97               |79            |NA     |29      |11      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |18        |7        |729    |730       |847    |849       |PS           |1451     |NA     |78               |79            |NA     |-2      |-1      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |NO          |NO          |
|1987|10   |19        |1        |749    |730       |922    |849       |PS           |1451     |NA     |93               |79            |NA     |33      |19      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |21        |3        |728    |730       |848    |849       |PS           |1451     |NA     |80               |79            |NA     |-1      |-2      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |NO          |NO          |
|1987|10   |22        |4        |728    |730       |852    |849       |PS           |1451     |NA     |84               |79            |NA     |3       |-2      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |NO          |
|1987|10   |23        |5        |731    |730       |902    |849       |PS           |1451     |NA     |91               |79            |NA     |13      |1       |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |24        |6        |744    |730       |908    |849       |PS           |1451     |NA     |84               |79            |NA     |19      |14      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |25        |7        |729    |730       |851    |849       |PS           |1451     |NA     |82               |79            |NA     |2       |-1      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |NO          |
|1987|10   |26        |1        |735    |730       |904    |849       |PS           |1451     |NA     |89               |79            |NA     |15      |5       |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |28        |3        |741    |725       |919    |855       |PS           |1451     |NA     |98               |90            |NA     |24      |16      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |29        |4        |742    |725       |906    |855       |PS           |1451     |NA     |84               |90            |NA     |11      |17      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |31        |6        |726    |725       |848    |855       |PS           |1451     |NA     |82               |90            |NA     |-7      |1       |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |NO          |YES         |
|1987|10   |1         |4        |936    |915       |1035   |1001      |PS           |1451     |NA     |59               |46            |NA     |34      |21      |SFO   |RNO |192     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |2         |5        |918    |915       |1017   |1001      |PS           |1451     |NA     |59               |46            |NA     |16      |3       |SFO   |RNO |192     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |3         |6        |928    |915       |1037   |1001      |PS           |1451     |NA     |69               |46            |NA     |36      |13      |SFO   |RNO |192     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |4         |7        |914    |915       |1003   |1001      |PS           |1451     |NA     |49               |46            |NA     |2       |-1      |SFO   |RNO |192     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |NO          |
|1987|10   |5         |1        |1042   |915       |1129   |1001      |PS           |1451     |NA     |47               |46            |NA     |88      |87      |SFO   |RNO |192     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |6         |2        |934    |915       |1024   |1001      |PS           |1451     |NA     |50               |46            |NA     |23      |19      |SFO   |RNO |192     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------+------------+
only showing top 20 rows

In [ ]:
df_demo=spark.read.format("csv").option('header',True).load("/content/part-00000").show(truncate=False)

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------+------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|IsArrDelayed|IsDepDelayed|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------+------------+
|1987|10   |14        |3        |741    |730       |912    |849       |PS           |1451     |NA     |91               |79            |NA     |23      |11      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |15        |4        |729    |730       |903    |849       |PS           |1451     |NA     |94               |79            |NA     |14      |-1      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |NO          |
|1987|10   |17        |6        |741    |730       |918    |849       |PS           |1451     |NA     |97               |79            |NA     |29      |11      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |18        |7        |729    |730       |847    |849       |PS           |1451     |NA     |78               |79            |NA     |-2      |-1      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |NO          |NO          |
|1987|10   |19        |1        |749    |730       |922    |849       |PS           |1451     |NA     |93               |79            |NA     |33      |19      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |21        |3        |728    |730       |848    |849       |PS           |1451     |NA     |80               |79            |NA     |-1      |-2      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |NO          |NO          |
|1987|10   |22        |4        |728    |730       |852    |849       |PS           |1451     |NA     |84               |79            |NA     |3       |-2      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |NO          |
|1987|10   |23        |5        |731    |730       |902    |849       |PS           |1451     |NA     |91               |79            |NA     |13      |1       |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |24        |6        |744    |730       |908    |849       |PS           |1451     |NA     |84               |79            |NA     |19      |14      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |25        |7        |729    |730       |851    |849       |PS           |1451     |NA     |82               |79            |NA     |2       |-1      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |NO          |
|1987|10   |26        |1        |735    |730       |904    |849       |PS           |1451     |NA     |89               |79            |NA     |15      |5       |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |28        |3        |741    |725       |919    |855       |PS           |1451     |NA     |98               |90            |NA     |24      |16      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |29        |4        |742    |725       |906    |855       |PS           |1451     |NA     |84               |90            |NA     |11      |17      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |31        |6        |726    |725       |848    |855       |PS           |1451     |NA     |82               |90            |NA     |-7      |1       |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |NO          |YES         |
|1987|10   |1         |4        |936    |915       |1035   |1001      |PS           |1451     |NA     |59               |46            |NA     |34      |21      |SFO   |RNO |192     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |2         |5        |918    |915       |1017   |1001      |PS           |1451     |NA     |59               |46            |NA     |16      |3       |SFO   |RNO |192     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |3         |6        |928    |915       |1037   |1001      |PS           |1451     |NA     |69               |46            |NA     |36      |13      |SFO   |RNO |192     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |4         |7        |914    |915       |1003   |1001      |PS           |1451     |NA     |49               |46            |NA     |2       |-1      |SFO   |RNO |192     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |NO          |
|1987|10   |5         |1        |1042   |915       |1129   |1001      |PS           |1451     |NA     |47               |46            |NA     |88      |87      |SFO   |RNO |192     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |6         |2        |934    |915       |1024   |1001      |PS           |1451     |NA     |50               |46            |NA     |23      |19      |SFO   |RNO |192     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------+------------+
only showing top 20 rows

In [ ]:
df_demo.write.option("header",True).option("delimiter","|").csv("Result/part1")

AttributeError: ignored